@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$font: "Nunito Sans", sans-serif;
:root {
  --color-background: hsl(0, 0%, 98%);
  --color-text: hsl(200, 15%, 8%);
  --color-input-text: hsl(0, 0%, 52%);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-header-background: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
  --color-background: hsl(207, 26%, 17%);
  --color-text: hsl(0, 0%, 100%);
  --color-input-text: hsl(0, 0%, 100%);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-header-background: hsl(209, 23%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.numberFormat {
  border-style: none;
  outline: none;
  width: 40%;
  background-color: inherit;
  color: var(--color-input-text);
  font-size: 0.8rem;
  font-family: $font;
}

/* header */
.header {
  display: grid;
  padding: 2% 5%;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-header-background);
  border-bottom: 2px solid var(--color-shadow);

  .titile {
    font-weight: 800;
    font-size: 1.2rem;
  }
  .themeContainer {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
  }
}

.themeIcon,
.themeText {
  align-self: center;
  font-weight: 800;
}

/* home */
.homeContainer {
  background-color: var(--color-background);
  padding: 3% 5%;
}

.homeNav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50%;
  padding-bottom: 3%;
}

.searchContainer {
  box-shadow: 0 0 5px 5px var(--color-shadow);
  line-height: 40px;
  background-color: var(--color-header-background);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 3%;

  .icon {
    justify-self: center;
    color: var(--color-input-text);
    cursor: pointer;
  }

  input {
    border-style: none;
    outline: none;
    background-color: var(--color-header-background);
    color: var(--color-input-text);
  }

  input::placeholder {
    color: var(--color-input-text);
  }
}

.filterContainer {
  box-shadow: 0 0 5px 5px var(--color-shadow);
  line-height: 40px;
  background-color: var(--color-header-background);
  border-radius: 5px;
  text-align: center;

  .regionSelector {
    border-style: none;
    width: 80%;
    border: 0px;
    outline: 0px;
    background-color: inherit;
    color: inherit;
  }
}

.countryList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5% 5%;

  .country {
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 0 5px 5px var(--color-shadow);
    border-radius: 5px;

    .flagContainer {
      background: center center/cover no-repeat;
      height: 165px;
    }

    .countryDesc {
      background-color: var(--color-header-background);
      padding: 10%;
    }
  }

  .countryName {
    font-weight: 800;
    font-size: 1.2rem;
    padding-bottom: 5%;
  }

  .population,
  .region,
  .capital {
    font-size: 0.8rem;
    color: var(--color-input-text);
    span {
      font-weight: 600;
      color: var(--color-text);
    }
  }
}

/* Country Detail */

.countryContainer {
  padding: 5%;

  .linkBtn {
    background-color: inherit;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px var(--color-shadow);
    width: 12%;
    justify-content: center;
    font-weight: 600;
    padding: 5px;
    column-gap: 5px;
    color: var(--color-text);

    .arrow {
      align-self: center;
      color: var(--color-text);
    }
  }

  .detailContainer {
    padding: 5% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;

    .flag {
      background: center center/cover no-repeat;
      height: 350px;
    }

    .textContainer {
      padding: 5% 0;

      .countryText {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.8rem;

        span {
          font-weight: 600;
          color: var(--color-text);
        }
        div:nth-child(7) {
          grid-area: 4/1/5/3;
        }
        div:nth-child(8) {
          grid-area: 5/1/6/3;
        }
      }
      .bordersContainer {
        font-size: 0.8rem;
        padding-top: 5%;

        span {
          font-weight: 600;
          color: var(--color-text);
        }
        .borders {
          display: inline-flex;
          flex-wrap: wrap;

          .borderCountry {
            border-radius: 5px;
            box-shadow: 0 0 2px 2px var(--color-shadow);
            margin: 1%;
            padding: 1%;
          }
        }
      }
    }
  }
}
